// COLOR 
$colorDark :#000;
$orange: #fb4226;
$dark-orange: #ce3017;
$colorLight: #9b9b9b;
$buttonDark :#4a4a4a;
$white: #fff;
$green :#00A04D;
$colorFooter: #222222;
// FONT SIZE 
$fs-1:30px;
$fs-2:25px;
$fs-2-1:24px;
$fs-3:20px;
$fs-3-1: 18px;
$fs-4:16px;
$fs-5:14px;
$fs-6:13px;
$fs-6-1:11px;
$fs-7:8px;
$fs-8:6px; 
// FONT Weight  
$fw-1:800;
$fw-2:600;
$fw-3:400;
$fw-4:300;
$default-spacing :10px;
// colors arr
$colors: ('colorDark' :#000, 'orange': #fb4226, 'colorLight':#9b9b9b, 'buttonDark':#4a4a4a, 'white': #fff);
$fontSize: ('fs-1': 30px, 'fs-2':25px, 'fs-3':20px, 'fs-4':16px, 'fs-5':14px, 'fs-6':13px);
$xs :576px;
$sm :768px;
$md:992px;
$lg:1200px;