@model List<Model.EF.Catalog> 

@{ ViewBag.Title = "CreatePost";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<h2>CreatePost</h2>
<div class="box">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="col-6 col-12">
                    <label>Tiêu đề bài viết</label>
                    <div class="form_control">
                        <input required
                               name="Tittle"
                               type="text" />
                    </div>
                </div>
                <div class="col-6 col-12">
                    <label>Chủ đề</label>
                    <div class="form_control">
                        @Html.DropDownList("Chủ đề", new SelectList(Model, "Id", "Title"))
                    </div>
                </div>
                <div class="col-6 col-12">
                    <label>Họ và tên</label>
                    <div class="form_control">
                        <input required
                               name="email"
                               type="text" />
                    </div>
                </div>
                <div class="col-6 col-12">
                    <label>Họ và tên</label>
                    <div class="form_control">
                        <input required
                               name="email"
                               type="text" />
                    </div>
                </div>
                <div class="col-6 col-12">
                    <a href="#">
                        <button class="btn btn-success" type="submit">Thêm mới Bài</button>
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>
