@model List<Model.EF.User>
@{
    ViewBag.Title = "CustomerProfile";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="box">
    <div class="row" id="user-profile">
        <div class="col-3 col-sm-12 user-avatar">
            <!--left col-->

            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                 class="avatar"
                 alt="avatar" />

            <h2>THÔNG TIN KHÁCH HÀNG</h2>
        </div>
        <!--/col-3-->
        <div class="col-9 col-sm-12">
            <ul class="nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link bg-transparent active" href="#">
                        <span>Thông tin</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-transparent" href="#">
                        <span>Đổi mật khẩu</span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <form>
                        <div class="row">
                            <div class="col-6 col-sm-12">


                                <div class="form_control">
                                    <label>Họ Và Tên</label>
                                    <input required name="name" type="text" />
                                </div>

                            </div>
                            <div class="col-6 col-sm-12">
                                <div class="form_control">
                                    <label>Địa chỉ</label>
                                    <input required name="email" type="text" />

                                </div>
                            </div>
                            <div class="col-6 col-sm-12">
                                <div class="form_control">
                                    <label>Ngày sinh</label>
                                    <input required name="email" type="text" />
                                </div>
                            </div>
                            <div class="col-6 col-sm-12">
                                <div class="form_control">
                                    <label>Giới tính</label>
                                    <input required name="email" type="text" />
                                </div>
                            </div>
                            <div class="col-6 col-sm-12">
                                <div class="form_control">
                                    <label>Tên đăng nhập</label>
                                    <input required name="email" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button class="btn">Lưu Lại</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-reset">reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->
    </div>
    <!--/col-9-->
</div>