@model PetStore.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/Admin/css/login.css" />
</head>
<body>
    <div class="forny-container">
        <div class="forny-inner">
            <div></div>
            <div>
                <div class="forny-form">
                    <div class="mb-8 forny-logo text-center">
                        <img src="~/Content/Admin/img/logo-mb.png" />
                    </div>
                    <ul class="nav nav-tabs justify-content-center m-4" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link bg-transparent active"
                               href="#login"
                               data-toggle="tab"
                               role="tab"
                               aria-selected="false">
                                <span>Login</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link bg-transparent"
                               href="#register"
                               data-toggle="tab"
                               role="tab"
                               aria-selected="true">
                                <span>Register</span>
                            </a>
                        </li>
                    </ul>
                    @* FORM LOGIN *@
                    <div class="tab-content">
                        <div class="tab-pane fade show active" role="tabpanel" id="login">
                            @* Alert catching *@
                            @{
                                var anyErrors = ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Any();
                            }
                            @if (anyErrors)
                            {
                            <div class="alert alert-danger">
                                @Html.ValidationSummary()
                            </div>
                            }
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                            {
                                <div class="form_control">
                                    @*@Html.TextBoxFor(model => model.Username)*@
                                    <input required name="username" type="text" />
                                    <label>User Name</label>
                                </div>

                                <div class="form_control">
                                    @*@Html.TextBoxFor(model => model.Password)*@
                                    <input required name="password" type="password" />
                                    <div class="input-group-append cursor-pointer">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <label>Password</label>
                                </div>
                                <div class="row mt-10">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                                    </div>
                                    <div class="col-6 d-flex align-items-center justify-content-end">
                                        <a href="07_reset.html">Forgot password?</a>
                                    </div>
                                </div>
                            }
                        </div>
                        @* EBD FORM LOGIN *@
                        @* FORM REGISTER *@
                        <div class="tab-pane fade" role="tabpanel" id="register">
                            <form>
                                <div class="form_control">
                                    <input required name="username" type="text" />
                                    <label>User Name</label>
                                </div>

                                <div class="form_control">
                                    <input required name="email" type="text" />
                                    <label>Email</label>
                                </div>

                                <div class="form_control">
                                    <input required name="password" type="password" />
                                    <div class="input-group-append cursor-pointer">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <label>Password</label>
                                </div>
                                <div class="form_control">
                                    <input required name="confpassword" type="password" />
                                    <div class="input-group-append cursor-pointer">
                                        <span class="input-group-text">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </div>
                                    <label>Confirm Password</label>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-primary btn-block">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                            @*END FORM REGISTER *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SCRIPT BOOTSTRAP  -->
    <script src="https://code.jquery.com/jquery-3.5.1.js "
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin=" anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
            crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
            crossorigin="anonymous "></script>
    <script>
        function bindPasswordReveal() {
            $('input[type="password"] + .input-group-append').each(function () {
                $(this).on("mousedown touchstart", function () {
                    $(this).prev().attr("type", "text");
                });
                $(this).on("mouseup touchend", function () {
                    $(this).prev().attr("type", "password");
                });
            });
        }
        window.addEventListener("load", function () {
            bindPasswordReveal();
        });
    </script>
</body>
</html>

