@model List<Model.EF.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Brand</h2>
<div class="box">
    @foreach (var item in Model)
    {
        <img src="@item.Image" width="120" height="120" style="margin-right:50px"/>
    }
</div>
