    .detail-content {
        width: 100%;
        height: 1200px;
        padding-top: 72px;
        .detail_overlay {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            max-height: 800px;
            z-index: 1;
            padding-top: 72px;
            .styleBlur {
                &__img {
                    filter: blur(10px);
                }
                &__overlay {
                    width: 100%;
                    height: 1200px;
                    // background: #000;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(to top, #0A2029 50%, transparent 100%);
                }
                .detail-content__main {
                    position: absolute;
                    top: 70%;
                    width: 70%;
                    left: 50%;
                    transform: translate(-50%, -70%);
                    z-index: 10 !important;
                    .film-detail__item {
                        position: relative;
                        img {
                            border-radius: 5px;
                        }
                        .icon {
                            position: absolute;
                            top: 50%;
                            left: 55%;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                        }
                    }
                    .infoMain {
                        position: relative;
                        &__detail {
                            position: absolute;
                            top: 40%;
                            transform: translateY(-40%);
                            left: 10%;
                            p {
                                margin: 5px;
                                &:nth-child(1) {
                                    @include Text($fs-6, $white, $fw-3, 0);
                                }
                                &:nth-child(2) {
                                    span {
                                        padding: 4px 5px;
                                        background-color: $orange;
                                        border-radius: 5px;
                                    }
                                    @include Text($fs-4, $white, $fw-2, 0);
                                }
                                &:nth-child(3) {
                                    @include Text($fs-5, $white, $fw-3, 0);
                                }
                            }
                            .btn-muave {
                                @include Btn($orange, $white, $fs-4, 5px 10px, 5px);
                                border: none;
                                &:focus {
                                    border: none;
                                    outline: none;
                                }
                            }
                        }
                    }
                    .circle--custom {
                        .box {
                            position: relative;
                            width: 300px;
                            height: 400px;
                            justify-content: center;
                            align-items: center;
                            .percent {
                                position: relative;
                                width: 90px;
                                height: 90px;
                                margin-top: 20px;
                                margin-left: 20px;
                                svg {
                                    width: 90px;
                                    height: 90px;
                                    circle {
                                        width: 80px;
                                        height: 80px;
                                        fill: none;
                                        stroke-width: 8;
                                        stroke: #000;
                                        transform: translate(5px, 5px) skewX(180deg);
                                        stroke-dasharray: 254;
                                        stroke-dashoffset: 254;
                                        stroke-linecap: round;
                                        &:nth-child(1) {
                                            stroke-dashoffset: 0;
                                            stroke: $buttonDark;
                                        }
                                        &:nth-child(2) {
                                            stroke-dashoffset: calc((254 *75) /100 - 254);
                                            stroke: green;
                                        }
                                    }
                                }
                                .number {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    h2 {
                                        @include Text($fs-1, $white, $fw-2, 0);
                                    }
                                }
                            }
                            .start {
                                margin-left: 20px;
                                img {
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
                .contentMain {
                    width: 70%;
                    margin: auto;
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 10 !important;
                    &__item {
                        .nav-tabs {
                            width: 28%;
                            margin: auto;
                            border-bottom: none;
                            .nav-item {
                                .nav-link {
                                    color: $white;
                                    transform: scale(0.9);
                                    transition: all 0.5s;
                                    &.active {
                                        background-color: transparent !important;
                                        border: 1px solid transparent;
                                        color: $orange;
                                        transform: scale(1);
                                    }
                                    &:hover {
                                        border: 1px solid transparent;
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                        .tab-content {
                            margin-top: 20px;
                            @include Text($fs-6, $white, $fw-3, 0);
                            .rowLeftInfo {
                                // display: inline-block;
                                display: flex;
                                .contentTitle {
                                    width: 50%;
                                }
                                .contentInfo {
                                    width: 50%;
                                }
                            }
                            .rowBottomInfo {
                                margin-left: 30px;
                                img {
                                    width: 300px;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }