@model List<PetStore.Models.Common.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@*<table class="table">
    <thead>
        <tr>
            <td> Product Id</td>
            <td> Product Name </td>
            <td> Product Image </td>
            <td> Quantity </td>
            <td> Price </td>
            <td> Total Price </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Product Id </td>
            <td> Product Name </td>
            <td> Product Image </td>
            <td> Quantity </td>
            <td> Price </td>
            <td> Total Price </td>
        </tr>
    </tbody>
</table>*@

