<a href="/gio-hang">
    <div class="link">
        <div class="icon-wrap">
            <i class="bx bx-cart-alt"></i>
        </div>
        <div class="total-cart">
            <span>@ViewBag.NumTotal</span>
        </div>
    </div>
</a>
