@model List<Model.EF.Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="header-listproduct"
     style="background-image: url('/Content/Client/img/breadcumd.jpg')"></div>

@foreach (var item in Model)
{
    <a href="/thuong-hieu/chi-tiet/@item.Id">
        <img src="@item.Image" width="200px" , height="200px" />
    </a>


}









