
@{
    ViewBag.Title = "ListOrder";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <!-- ORDERS TABLE -->
        <div class="box">
            <div class="box-header">Đơn hàng gần đây</div>
            <div class="box-body overflow-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th width="250px">Khách hàng</th>
                            <th width="150px">Ngày đặt</th>
                            <th width="180px">Tình trạng đặt</th>
                            <th width="230px">Tình trạng thanh toán</th>
                            <th>Tổng tiền</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Id</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-2.png" alt="user image" />
                                    <span>@item.User.FullName</span>
                                </div>
                            </td>
                            <td>@item.OrderDate</td>

                            @{ if (item.OrderStatus == true)
                                {
                                    <td>
                                        <span class="order-status order-shipped">  Đã giao hàng </span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="order-status order-ready"> Đang giao hàng </span>
                                    </td>

                                }
                            }
                            @{ if (item.PaymentStatus == true)
                                {
                                    <td>
                                        <div class="payment-status payment-paid">
                                            <div class="dot"></div>
                                            <span>Đã thanh toán</span>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <div class="payment-status payment-pending">
                                            <div class="dot"></div>
                                            <span>Chưa thanh toán</span>
                                        </div>
                                    </td>

                                }
                            }
                            @{
                                var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                            }
                            <td>@string.Format(info, "{0:0,0}", item.Total)đ</td>
                            <td>
                                <a href="#" style="padding-left:15px">
                                    <i class="fas fa-pencil-alt" style="color:dodgerblue"></i>
                                </a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <!-- END ORDERS TABLE -->
    </div>
</div>

