@model List<Model.EF.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="header-position"></div>
<section id="listPost">
    <div class="container">
        <div class="row">

            <div class="col-9">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-6 mb-4">
                            <a class="post__item" href="/Post/Detail/@item.Id">
                                <img class="img-fluid"
                                     src="@item.Image"
                                     alt="" />
                                <h4>@item.Title</h4>
                                <p>
                                   @item.Content
                                </p>
                            </a>
                        </div>
                    }

                   
                </div>
            </div>
            <div class="col-3">
                <div class="post__cate">
                    <h4>Chuyên mục bài viết</h4>
                    <ul>
                        @Html.Action("ListCatalog", "Post")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

