@model List<Model.EF.OrderDetail> 
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Calendar</h2>
@foreach(var item in Model)
            {
                <ul>
                    <li>    @item.Product.Name;</li>
                    </ul>

            }

