
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- nav left -->
<div class="row">
    <div class="col-3 col-md-6 col-sm-12">
        <div class="box box-hover">
            <!-- COUNTER -->
            <div class="counter">
                <div class="counter-title">total order</div>
                <div class="counter-info">
                    <div class="counter-count">6578</div>
                    <i class="bx bx-shopping-bag"></i>
                </div>
            </div>
            <!-- END COUNTER -->
        </div>
    </div>
    <div class="col-3 col-md-6 col-sm-12">
        <div class="box box-hover">
            <!-- COUNTER -->
            <div class="counter">
                <div class="counter-title">conversion rate</div>
                <div class="counter-info">
                    <div class="counter-count">30.5%</div>
                    <i class="bx bx-chat"></i>
                </div>
            </div>
            <!-- END COUNTER -->
        </div>
    </div>
    <div class="col-3 col-md-6 col-sm-12">
        <div class="box box-hover">
            <!-- COUNTER -->
            <div class="counter">
                <div class="counter-title">total profit</div>
                <div class="counter-info">
                    <div class="counter-count">$9,780</div>
                    <i class="bx bx-line-chart"></i>
                </div>
            </div>
            <!-- END COUNTER -->
        </div>
    </div>
    <div class="col-3 col-md-6 col-sm-12">
        <div class="box box-hover">
            <!-- COUNTER -->
            <div class="counter">
                <div class="counter-title">daily visitors</div>
                <div class="counter-info">
                    <div class="counter-count">690</div>
                    <i class="bx bx-user"></i>
                </div>
            </div>
            <!-- END COUNTER -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <!-- ORDERS TABLE -->
        <div class="box">
            <div class="box-header">Recent orders</div>
            <div class="box-body overflow-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer</th>
                            <th>Date</th>
                            <th>Order status</th>
                            <th>Payment status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image.jpg" alt="user image" />
                                    <span>Trương Văn Biên</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-ready"> Ready </span>
                            </td>
                            <td>
                                <div class="payment-status payment-pending">
                                    <div class="dot"></div>
                                    <span>Pending</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-2.png" alt="user image" />
                                    <span>John doe</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-shipped">
                                    Shipped
                                </span>
                            </td>
                            <td>
                                <div class="payment-status payment-paid">
                                    <div class="dot"></div>
                                    <span>Paid</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-3.png" alt="user image" />
                                    <span>evelyn</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-shipped">
                                    Shipped
                                </span>
                            </td>
                            <td>
                                <div class="payment-status payment-paid">
                                    <div class="dot"></div>
                                    <span>Paid</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-2.png" alt="user image" />
                                    <span>John doe</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-shipped">
                                    Shipped
                                </span>
                            </td>
                            <td>
                                <div class="payment-status payment-paid">
                                    <div class="dot"></div>
                                    <span>Paid</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-3.png" alt="user image" />
                                    <span>evelyn</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-shipped">
                                    Shipped
                                </span>
                            </td>
                            <td>
                                <div class="payment-status payment-paid">
                                    <div class="dot"></div>
                                    <span>Paid</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END ORDERS TABLE -->
    </div>
</div>
