@model List<Model.EF.Post>
@using Model.EF
@{
    ViewBag.Title = "ListPost";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br>
<br>
<div class="row">
    <div class="col-12">
        <!-- Post TABLE -->
        <div class="box">
            <div class="box-header"><h3>Danh sách các bài viết:</h3></div>
            <div class="box-body overflow-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Sửa
                            <th>
                            <th>Tên bài viết</th>
                            <th>Loại bài viết</th>
                            <th>Nội dung</th>
                            <th>Ngày viết</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.ActionLink("Sửa","EditPost", new { Post_ID = item.Id })<td>
                            <td>@item.Title</td>
                            <td></td>
                            <td>@item.Content</td>
                            <td>@item.CreatedAt</td>

                        </tr>
                        }
                    </tbody>
                    @*<tbody>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image.jpg" alt="user image" />
                                    <span>Trương Văn Biên</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-ready"> Ready </span>
                            </td>
                            <td>
                                <div class="payment-status payment-pending">
                                    <div class="dot"></div>
                                    <span>Pending</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-2.png" alt="user image" />
                                    <span>John doe</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-shipped">
                                    Shipped
                                </span>
                            </td>
                            <td>
                                <div class="payment-status payment-paid">
                                    <div class="dot"></div>
                                    <span>Paid</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-3.png" alt="user image" />
                                    <span>evelyn</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-shipped">
                                    Shipped
                                </span>
                            </td>
                            <td>
                                <div class="payment-status payment-paid">
                                    <div class="dot"></div>
                                    <span>Paid</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-2.png" alt="user image" />
                                    <span>John doe</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-shipped">
                                    Shipped
                                </span>
                            </td>
                            <td>
                                <div class="payment-status payment-paid">
                                    <div class="dot"></div>
                                    <span>Paid</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                        <tr>
                            <td>#2345</td>
                            <td>
                                <div class="order-owner">
                                    <img src="~/Content/Admin/img/user-image-3.png" alt="user image" />
                                    <span>evelyn</span>
                                </div>
                            </td>
                            <td>2021-05-09</td>
                            <td>
                                <span class="order-status order-shipped">
                                    Shipped
                                </span>
                            </td>
                            <td>
                                <div class="payment-status payment-paid">
                                    <div class="dot"></div>
                                    <span>Paid</span>
                                </div>
                            </td>
                            <td>$123.45</td>
                        </tr>
                    </tbody>*@
                </table>
            </div>
        </div>
        <!-- END ORDERS TABLE -->
    </div>
</div>

