@model List<PetStore.Models.Common.CartItem>

<a href="/gio-hang">
    <div class="link">
        <div class="icon-wrap">
            <i class="bx bx-cart-alt"></i>
        </div>
        <div class="total-cart">
            <span>@Model.Count()</span>
        </div>
    </div>
</a>
