* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #333;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

.forny-container {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.forny-container .cursor-pointer {
  cursor: pointer;
}

.forny-container .forny-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100%;
}

.forny-container .forny-inner > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.forny-container .forny-inner > div:first-child {
  background-image: url(../img/bg-07.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ff6b6b;
  color: #243b52;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 992px) {
  .forny-container .forny-inner > div:first-child {
    display: none;
  }
}

.forny-container .forny-inner > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forny-container .forny-inner > div:last-child .forny-form {
  margin: 0 auto;
  padding: 2.5rem;
  width: 30rem;
}

@media screen and (max-width: 768px) {
  .forny-container .forny-inner > div:last-child .forny-form {
    width: 90%;
    padding: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .forny-container .forny-inner > div:last-child .forny-form {
    width: 100%;
    padding: 1.5rem;
  }
}

.forny-container .forny-inner > div:last-child .forny-form .forny-logo {
  text-align: left;
  color: #243b52;
  margin-bottom: 1rem;
}

.forny-container .forny-inner > div:last-child .forny-form .forny-logo img {
  width: 100px;
}

.forny-container .forny-inner > div:last-child .forny-form .nav-tabs {
  margin-bottom: 1.5rem;
  border-bottom: 0;
}

.forny-container .forny-inner > div:last-child .forny-form .nav-tabs .nav-item {
  margin-bottom: 0;
}

.forny-container .forny-inner > div:last-child .forny-form .nav-tabs .nav-link {
  padding: 8px 0;
  margin-right: 8px;
  border: 3px solid transparent;
  border-radius: 3px;
}

.forny-container .forny-inner > div:last-child .forny-form .nav-tabs .active {
  border-bottom-color: #3124e5;
}

.forny-container .forny-inner > div:last-child .forny-form .tab-content .active {
  display: block;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control {
  position: relative;
  margin: 15px 0 40px;
  width: 100%;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control > input {
  background-color: transparent;
  border: 0;
  border-bottom: 3px #e0e0e0 solid;
  display: block;
  width: 100%;
  color: #000;
  padding: 6px 0 7px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control > input:focus-visible {
  outline: none;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control > input:focus + .input-group-append + label,
.forny-container .forny-inner > div:last-child .forny-form .form_control > input:focus + label,
.forny-container .forny-inner > div:last-child .forny-form .form_control > input:valid + label,
.forny-container .forny-inner > div:last-child .forny-form .form_control > input:valid + .input-group-append + label {
  -webkit-transform: translateY(-23px);
          transform: translateY(-23px);
  font-size: 15px;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control > input:focus + .input-group-append + label,
.forny-container .forny-inner > div:last-child .forny-form .form_control > input:focus + .input-group-append .input-group-text,
.forny-container .forny-inner > div:last-child .forny-form .form_control > input:focus + label {
  color: #3498db;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control > input:focus {
  border-color: #3498db;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control > label {
  pointer-events: none;
  display: block;
  font-size: 18px;
  position: absolute;
  top: 6px;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #7f8c8d;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control .input-group-append {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control .input-group-append:hover .input-group-text {
  color: #000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.forny-container .forny-inner > div:last-child .forny-form .form_control .input-group-append .input-group-text {
  background-color: transparent;
  border: 0;
  color: #7f8c8d;
}
.validation-summary-errors ul li {
    list-style-type: none;
}
/*# sourceMappingURL=login.css.map */